body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-image: url('assets/tableBackground.jpeg');
    background-size: cover;
    background-position: center;
    font-family: 'Faculty Glyphic', sans-serif;
}

.header {
    background-image: url('assets/redTableBackground.jpg');
    background-position: center;
    background-size: cover;
    width: 75%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 10px 15px black;

    margin: auto;

    p {
        margin: 0;
        font-size: 5vw;
        letter-spacing: 10px;
        font-weight: 700;
        
        background: -webkit-linear-gradient(270deg, rgba(252,250,129,1) 0%, rgba(250,186,40,1) 64%, rgba(201,140,0,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /* -webkit-text-stroke: 3px black; width and color */
    }
}

.debug {
    background-color: darkgray;
    opacity: 50%;
    padding: 30px;
    position: absolute;
    margin: 30px;
    height: 25%;
    border-radius: 30px;
}
.debugHidden {
    display: none;
}

.playingField {
    width: 100%;
    height: 80%;
    margin: 0px;
    display: grid;
    align-items: space-between;
    grid-template-columns: 1;
    grid-template-rows: 1fr auto;
}

.fieldCenter {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 5vw
}
.startScreen {
    width: 15%;
    height: 90%;
    border-radius: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr auto;
    row-gap: 5px;

    background-image: url(assets/redTableBackground.jpg);
    background-position: center;
    background-size: cover;
    padding: 25px;
    display: grid;
    align-items: center;
    box-shadow: 0px 10px 15px black;
}
#startBtn {
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 5;
}
.playerNameSelector, .setting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    padding-top: 5px;
    background-image: url(assets/feltBackground.jpg);
    background-position: center;
    background-size: cover;
    width: 80%;
    font-size: 24pt;
    color: goldenrod;
    text-shadow: 3px 3px 5px black;
    border-radius: 10px;
    box-shadow: 0px 10px 15px black;
    transition: 0.25s;
    justify-self: center;

    p {
        margin: 10px;
    }
    textarea {
        resize: none;
        font-size: 20pt;
        border-radius: 5px;
        box-shadow: 5px 5px 10px black;
    }
}
.playerNameSelector {
    grid-column: 1;
}
.setting {
    grid-column: 2;
    font-size: 12pt;
    flex-direction: row;
    padding: 10px;

    input {
        cursor: pointer;
        height: 12pt;
        width: 12pt;
    }
}
.playerNameSelector:hover {
    filter: brightness(110%)
}
.error {
    color: red;
    font-size: 16pt;
    text-shadow: 3px 3px 5px black;
    margin: 0;
}
#player1Name, #exodiaMode {
    grid-row: 1;
}
#player2Name {
    grid-row: 2;
}
#player3Name {
    grid-row: 3;
}
#player4Name {
    grid-row: 4;
}

.winScreen {
    position: fixed;
    width: 20%;
    height: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-image: url(assets/redTableBackground.jpg);
    background-position: center;
    background-size: cover;
    color: goldenrod;
    text-shadow: 3px 3px 5px black;
    font-size: 50pt;
    box-shadow: 0px 10px 15px black;
    border-radius: 20px;
    padding: 10px;

    p {
        margin: 0;
        text-shadow: 5px 5px 15px black;
        font-weight: 500;
    }

    div {
        height: 40%;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: brightness(150%);

        background-image: url(assets/feltBackground.jpg);
        background-position: center;
        background-size: cover;
        font-size: 24pt;
        box-shadow: 0px 10px 15px black;
        border-radius: 15px;

        p {
            text-shadow: 3px 3px 5px black;
        }
    }
}

.fieldBottom {
    display: flex;
    width: 100%;
    aspect-ratio: 8 / 1;

    align-self: flex-end;
    justify-content: space-evenly;
}

.currentHand {
    align-self: center;
    justify-self: center;
    width: 70%;
    height: 100%;

    display: flex;
    justify-content: center;
    gap: 5vw;
    align-items: center;

    background-image: url('assets/redTableBackground.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 10px 15px black;
}

.buttons, .gameInfo {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 100%;
    flex-direction: column;

    background-image: url('assets/redTableBackground.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 10px 15px black;
    justify-content: space-evenly;
}

.gameButton {
    width: 90%;
    max-width: 500px;
    background-image: url(assets/feltBackground.jpg);
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
    color: goldenrod;
    text-shadow: 3px 3px 5px black;
    font-size: 24pt;
    transition: 0.25s;
    font-family: 'Faculty Glyphic', sans-serif;
    /* font-weight: bold; */
    
    p {
        margin: 15px;
    }
}
.gameButton:hover {
    filter: brightness(150%);
}
.disabled {
    pointer-events: none;
    filter: grayscale(100%);
}
/* #liarBtn {
    filter: grayscale(100%);
}
#playHandBtn {
    filter: grayscale(100%);
} */

.gameInfo {
    gap: 2%;
}

#p1, #p2, #p3, #p4 {
    display: none;
}
.playerDisplay {
    display: grid;
    width: 80%;
    height: 20%;
    /* padding: 5px; */
    align-items: center;

    grid-template-columns: 1fr auto;
    grid-template-rows: 1;
    
    background-image: url(assets/feltBackground.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 3px 10px black;
    color: goldenrod;
    text-shadow: 3px 3px 5px black;
    transition: 0.5s;
}
.mainDisplay {
    display: grid;
    grid-column: 1;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    align-content: space-evenly;
    padding-left: 10px;
    width: 100%;
    height: 100%;

    p {
        margin: 0;
        align-self: center;
        font-size: 12pt;
    }
}
.deadPlayer {
    text-decoration: line-through;
}
.activePlayer {
    filter: brightness(150%);

    .miniCardDisplay {
        filter: brightness(100%)
    }
}
.playerHandDisplay {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    flex-direction: row;
    align-items: flex-start;
    grid-row: 2;
    width: 100%;
}
.chamberDisplay {
    grid-column: 2;
    padding: 10px;
    font-size: 20pt;

    p {
        align-self: center;
        justify-self: center;
        margin: 0;
    }
}


.card, .cardDisplay {
    width: 10%;
    aspect-ratio: 5 / 7;
    background-color: red;
    flex-shrink: 0;
    display: block;

    border-radius: 5px;
    box-shadow: 0px 10px 15px black;
    transition: 1s;

    background-position: center;
    background-size: cover;
}
.cardDisplayMini {
    width: 10%;
    aspect-ratio: 5 / 7;
    background-color: red;
    flex-shrink: 0;
    display: block;
    margin: 0;
    padding: 0;

    border-radius: 2px;
    box-shadow: 0px 10px 15px black;
    transition: translate 1s, filter 0.25s;

    background-position: center;
    background-size: cover;
}
.card:hover {
    filter: brightness(100%);
}
.card {
    filter:brightness(90%)
}
.correctTable {
    box-shadow: 0px 10px 15px goldenrod;
}

.king {
    background-image: url('assets/cards/kingFace.jpg');
}
.queen {
    background-image: url('assets/cards/queenFace.jpg');
}
.jack {
    background-image: url('assets/cards/jackFace.jpg');
}
.wild {
    background-image: url('assets/cards/jokerFace.jpg');
}

.selected {
    translate: 0px -20px;
    filter: brightness(100%);
}

.cardFlipped {
    background-image: url('assets/cards/cardBack.jpeg');
}